#mainMenu{
    background-color:#696969;
    margin-bottom: -21px;
    text-align: right;
    padding-right: 90px;
    
    
}

a{
    color: #00bfff;
}

#mainMenu li{
    
    display: inline;
    padding: 10px;
}
#secondaryMenu {
background-color:  	#D3D3D3;
text-align: left;
padding-left: 60px;
}
#secondaryMenu  li{
   
    display: inline;
    padding: 10px;
    
    
}

h1{
    background-image:url("images/header-background.png");
    margin-bottom: -21px;
    
}


#picName{
    text-align:center;
}

div img{
    padding: 5px;
    border-style:solid;
    border-width:1px;
    
}
section{
    border-style:solid;
    border-width:1px;
    border-top: none;
    
}


section h3{
    background-image:url("images/header-background.png"); 
    padding:10px;
    color:white;
}

.actions {
    background-color: 	#20233a;
    padding-top:1px;
    padding-bottom:1px;
    
}

.actions li{
    display: inline;
    
}

#mainContact{
    padding-left :100px;
    padding-right: 100px;
    background-image:url("images/background-pattern.png");
}
.actionEdit{
    background:whitesmoke;
    background-image: url("images/edit.png");
    background-position-x: 0; 
    background-repeat: no-repeat;
    padding-left:20px;
    padding-right: 10px;
}

.actionFlag{
    background:whitesmoke;
    background-image: url("images/flag.png");
    background-position-x: 0; 
    background-repeat: no-repeat;
    padding-left:20px;
    padding-right: 10px;

}

footer{
    padding-left :100px;
    padding-right: 100px;
    
}

footer p{
    background:	#20233a;
    padding: 10px;
    margin-bottom: -21px;
    
}

footer a{
    color: white;
}

#copyright{
    background:	#20233a;
    padding: 10px;
    color: white;
}

a[href^="mailto"] { 
    background: url( images/email.png) no-repeat 0 3px; 
    padding-left: 1em; } 
 a[href^="tel"] { background: url( images/call.png) no-repeat 0 3px; 
    padding-left: 1em; } 

figure img{
    width:100%;
    height: 100%;
}